
body
{
    display: flex;
    margin-top: -2px;
    margin-bottom: -3px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
form
{
    width:  70rem;
    height: 50rem;
    background-color: white;
    border-radius: 15px ;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.left-box
{
    border: 1px solid black;
    width: 25rem;
    height: 50rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #5A1B1D;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 10px;
}

.left-box img
{
    animation-iteration-count: infinite;
    animation-duration: 18s;
    animation-name: animation;
    animation-timing-function: linear;
}

.left-box img:hover
{
    animation-play-state: paused;
    cursor: pointer;
}
ul
{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.title
{
    font-family: "Gill Sans", sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    
}
.description
{
   font-size: 15px;
   color: white; 
   font-weight: bold;
    font-family: 'Brush Script MT', cursive;
    display: flex;
    text-align: center;
    width: 300px;
    margin-left: 10px;
    font-family: system-ui;
    cursor: pointer;
}
.Right-box
{
    background-color: #F1E8E6;
    width: 45rem;
    height: 50rem;
    
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
label
{
    width: 605px;
    height: 25px;
    font-weight: 1000;
    font-size: 17px;
    color: black;
}
input
{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    padding-left: 10px;
}
.rounded
{
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #5A1B1D;
    font-size: 19px;
    letter-spacing: 1px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
}

#list
{
    width: 608px;
    height:40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}
.information
{
    background: #ffffff76;
    padding: 10px;
    padding-left: 20px;
    border-radius: 9px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.753);
    width: 100%;
}

@keyframes animation
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
.rounded:hover
{
   animation: submit 0.5s linear forwards;
   box-shadow:  0 0 10px  #5A1B1D;
}
@keyframes submit 
{
    0%
    {
        letter-spacing: 0px;

    }
    100%
    {
        letter-spacing: 2px;
    }
}
#name, #Location, .dropdown, #Description, #Link 
{
    width: 100%;
}
